<div class="container">
    <form class="">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Artista</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Música</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gênero</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="salvar" class="btn btn-primary">Submit</button>
    </form>

</div>
