<img src='assets/img/logo2.jpg'>
<div class="container">
  <header class="pesquisa">
    <button mat-raised-button color="accent" class="button-home">Adicionar música</button>
  </header>
  <div class="tabela">

    <table class="table" border="1">
      <thead>
        <tr>
          <th class="header-descricao"scope="col">Descrição</th>
          <th class="header-descricao"scope="col">Açoes</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of musics">
          <td>
            <spa-card-musica [dados]="item" ></spa-card-musica>
          </td>
          <td class="action">
            <button mat-raised-button color="accent" class="button button-editar" (click)="edit(item.id)">Editar</button>
            <button mat-raised-button color="accent" class="button">Deletar</button>
            <!-- cadastrar no button para voltar pagina inicia routerLink="/" -->
          </td>
        </tr>
            
      </tbody>
    </table>


    

    <!-- *ngFor="let item of musicas" -->
 </div>
</div>

